body{
  margin: 5px;
  padding: 10px;
  font-family:Arial, Helvetica, sans-serif;
  color: black;
  background:rgba(214, 244, 247, 0.534);
  padding: auto;
  text-align:center;
  }
  
.container bg-white{
  width: auto;
  height:auto;
  padding: 10px;
  background-color: gainsboro;
} 
.card-header{
  background: none;
}
.card-footer{
  background: none;
  height: 40px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.card{
margin-top: 20px;

}
.nav {
  border-radius: 0;
  overflow: hidden;
}

.fa-instagram {
  font-size: 24px;
  line-height: 1;
}

.flex-container text-center {
padding-top: 20px;
margin: 10px; 
display:flex;
flex-direction:column;
align-items:center;
color: black;
height: auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.card-body{
  padding: 0;
  margin: 0;
}

.img-fluid{
object-fit:cover;
padding: 0;
margin: 0;
}


.modal-body p {
text-align: left;
}

.modal-body .d-flex {
  margin-top: 10px;
  display: flex; 
  text-align: left;
  
}
