
body{
  margin: 1px;
  padding: 2px;
  font-family:Arial, Helvetica, sans-serif;
  background:rgba(216, 243, 245, 0.918);
  padding: auto;
  text-align:center;
  width: 750px;
  height: auto;
  }

.header{
  background-color: white;
  padding: inline start 1px;
  margin-top:2px; 
  }

.box{
background:white;         
width: 750px;
height:auto;
margin-bottom :20px; 
}

.head{
margin-top:2px;
padding:10px;
height: 20px;
text-align: left;
border: whitesmoke 1px solid  ;
}
    
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.fa-solid fa-location-dot{
  align-items: left;
}
  .btn btn ms-5{
      background-color: rgba(8, 8, 250, 0.459);
  }