
body{
  margin: 1px;
  padding: 2px;
  font-family:Arial, Helvetica, sans-serif;
  background:rgba(216, 243, 245, 0.918);
  padding: auto;
  text-align:center;
  width: auto;
  height: auto;
  }

.head{
margin-top:2px;
padding:10px;
height: 20px;
text-align: left;
border: whitesmoke 1px solid;
font-size: 20px
}

.fa fa-instagram{
  font-size: x-large;
}
.container bg-white{
  width: 800px;
  height:auto;
 padding: 20px;
} 

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1px;
  
}
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}
.row g-3{
  padding-top: 5px;
  padding-bottom: 30px;
}
.modal-body p {
text-align: left;
}

.modal-body .d-flex {
  margin-top: 10px;
  display: flex; 
  text-align: left;
 
}


img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}


.btn btn ms-5{
    background-color: rgba(8, 8, 250, 0.459);
}